{{! TODO: Loop over each user object to render a row with the user data. Use
one of the rows below to get started. }}
{{#each users as |user|}}
  <div class="row align-center mb-5">
    <div class="col-md-6">
      <h2>{{{get_emoji}}} {{user}}</h2>
    </div>
    <div class="col-md-6">
      <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
    </div>
  </div>
{{/each}}
